*{margin:0;padding:0;}
html,body{position: relative;}
/* 页头 */
.header{
    width:100%;
    height:80px;
    background: #07cbc9;
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 9999;
    min-width: 700px;
}
.header img{
    /* height:50px;
    width:300px; */
    float:left;
    /* line-height:80px; */
    padding-top:16px;
    padding-left:50px;
}
.header ul{
    float:right;
    height:80px;
    width:50%;
    text-align:center;
    line-height:80px;
}
.header ul li{
    display:inline-block;
    width:65px;
}
.header ul li a{
    text-decoration:none;
    color:white;
    font-size: 13px;
}
.header ul li:hover{
    background: black;
}

/* banner */
.banner{
    width:100%;
    margin-top:80px;
}
.banner_img{
    width:100%;
    position: relative;
    min-width: 700px;
}
.banner_img img{
    width:100%;
}
.banner .banner_input{
    width:50%;
    height:50%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto auto;
    text-align: center;
}
/* 输入框样式 */
.banner .banner_input input{
    height:30px;
    margin-bottom:20px;
    background: none;
    border:1px solid #ccc;
}
.banner .banner_input input::-webkit-input-placeholder{
    color:#ccc;
    font-size:12px;
    font-family: "微软雅黑";
    text-indent:1em;
}
.banner .banner_input input:-moz-placeholder{
    color:#ccc;
    font-size:12px;
    font-family: "微软雅黑";
    text-indent:1em;
}
.banner .banner_input input:focus { outline: none; }
textarea{
    margin-bottom:20px;
    background: none;
    border:1px solid #ccc;
    
}
.banner .banner_input textarea::-webkit-input-placeholder{
    color:#ccc;
    font-size:12px;
    font-family: "微软雅黑";
    text-indent:1em;
}
.banner .banner_input textarea:-moz-placeholder{
    color:#ccc;
    font-size:12px;
    font-family: "微软雅黑";
    text-indent:1em;
}
    .banner .banner_input textarea:focus { outline: none; }

.banner .banner_input textarea:hover{
    border:1px solid #07cbc9;
}
.banner .banner_input input:hover{
    border:1px solid #07cbc9;
}
/* banner按钮 */
.banner .banner_input button{
    width:140px;
    height:30px;
    background: none;
    color:white;
    border:1px solid white;
}
.banner .banner_input button:hover{
    background: #07cbc9;
    border:none;
}
/* about部分顶部文字 */
.container .about{
    width:364px;
    margin:0 auto;
    text-align: center;
}
hr{
    width:30px;
    border:1px solid #07cbc9;
    margin:0 auto;
    margin-bottom:5px;
}
.container p{
    padding-bottom:5px;
}
.container .about .aboutp1{
    font-size:30px;
    font-weight:bold;
    padding-bottom:5px;
    padding-top:30px;
}
/* about图文 容器 */
.container .containerTop{
    overflow: hidden;
    width:740px;
    height:267px;
    margin:0 auto;
    position: relative;
    margin-top:20px;
}
/* about图文图片容器 */
.container .containerTop .img1{
    width:400px;
    float: left;
    margin-left:28px;
}
.container .containerTop .img1 img{
    width:400px;
}
/* about图文部分左边文字部分 */
.container .containerTop .word{
    width:140px;
    font-size:24px;
    float:left;
    text-align:center;
}
/* about图文部分右边绿色边框方快*/
.container .containerTop .wordRight div{
    width:140px;
    height:90px;
    float:right;
    border:1px solid  #07cbc9;
    text-align: center;
    margin-bottom:20px;
}
/* about图文部分右边绿色边框方快文字 */
.container .containerTop .wordRight div .contp1{
    font-weight:bold;
    font-size: 18px;
    margin-top:10px;
}
/* about透明方块 */
.container .containerTop .wordSub{
    position: absolute;
    top:70px;
    left:0;
    width:260px;
    height:180px;
    border:1px solid #ccc;
    z-index: 10;
}
/* 遮罩层 */
.opacity{
    position: absolute;
    top:70px;
    left:0;
    width:260px;
    height:180px;
    background: #ffffff;
    opacity: 0.3;
    z-index: 1;
}
/* about透明方块文字 */
.container .containerTop .wordSub p{
    margin:12px 12px 0 12px;
    font-size: 14px;
}
/* about图文按钮 */
button{
    width:80px;
    height:30px;
    margin:8px 12px 12px 12px; 
    background: black;
    color:white;
    border:none;
    opacity:1;
} 
button:hover{
    background: white;
    color:black;
    border:1px black solid;
}  
/* about底部图片部分     */
.aboutCont{
    width:100%;
    height:540px;
    overflow:hidden;
    margin-top:50px;
}

.aboutCont img{
    width:100%;
    height:100%;
}
/* 图片容器 */
.aboutCont div{
    width:25%;
    height:50%;
    float:left;
}
/* 绿色填充方块 */
.ga{
    background: #07cbc9;
    color:#ffffff;
    width:100%;
    height:100%;
    position: relative;
}
/* 绿色填充方块文字 */
.ga small{
    color:#ccc;
}
.ga p{
    padding:0px 20px 0 20px;
}
.aboutCont .ga .title{
    font-size: 21px;
    /* font-weight: bold; */
    margin-top:30px;
}
/* 填充方块按钮 */
.aboutCont .ga button{
    position: absolute;
    left:50%;
    top:80%;
    margin-left:-40px;
    margin-top:-15px;
}
/* GALLERY图片部分 */
.galleryImg{
    width:80%;
    height: 550px;
    overflow: hidden;
    margin:0 auto;
    margin-top:20px;
}
.galleryImg div{
    width:30%;
    height:250px;
    float: left;
    margin:10px;
}
.galleryImg img{
    width:100%;
    height:200px;
    display: block;
}
.galleryImg P{
    background: black;
    width:100%;
    height:50px;
    color:white;
    line-height: 50px;
    text-align: left;
    /* padding-left:5px; */
    font-size: 14px;
}
/* 页脚 */
.footer{
    width:100%;
    height:80px;
    background : #07cbc9;
    text-align: center;
    margin-top:30px;

}
.footer p{
    line-height: 80px;
    color:white;
}
